<h1>WORK CHART</h1>

<p><%= @user.name %>さん、ようこそWORK CHARTへ</p>

<p>
  日々の予定を登録し、習慣をつけていきましょう！
</p>

<p>
  下記のURLをクリックするとあなたのアカウントが有効化になり、サービスを使えるようになります。
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>