@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 640px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

li {
  list-style: none;
}

a{
  position: relative;
  display: inline-block;
  transition: .3s;
  color: #2E2F30;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #bbbbbb;
  transition: .3s;
  transform: translateX(-50%);
}

a:hover::after{
  width: 100%;
}

a:hover {
  color: #bbbbbb;
  text-decoration: none;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.password-message {
  font-size: 10px;
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* home */

.home {
  .row {
    margin-bottom: 24px;
  }
  h3 {
    span {
      font-weight: bold;
    }
  }
  .plan-title {
    margin-top: 48px;
  }
  .today-work {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    .today-time {
      font-size: 22px;
      display: inline;
      margin-left: 24px;
      margin-top: 16px;
    }
    .today-per {
      font-size: 22px;
      display: inline;
      margin-left: 24px;
      margin-top: 16px;
    }
    .today-no {
      padding-top: 22px;
      padding-left: 16px;
    }
  }
  .work-register {
    text-align: center;
    button {
      margin-top: 12px;
      height: 28px;
      width: 180px;
    }
  }

  .month-display {
    margin-top: 24px;
  }
}

.works-content {
  margin-top: 24px;
  .works{
    height: 40px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: space-around;
    .date {
      font-size: 24px;
      width: 64px;
      text-align: right;
    }
    .work {
      width: 400px;
      height: 100%;
    }
    .work-title {
      text-align: center;
      padding-top: 10px;
    }
    .work-bar {
      height: 80%;
      margin-top: 4px;
      border: 1px solid #999999;
      border-radius: 4px;
      background-color: #CCCCCC;
    }
    .work-achievement-title {
      padding-top: 10px;
    }
    .work-achievement {
      width: 72px;
    }
  }
  .works-detail {
    display: none;
    .details {
      width: 400px;
      margin: auto;
      p {
        text-align: center;
      }
      .sum-time {
        font-size: 24px;
        text-align: center;
        span {
          margin-left: 40px;
        }
      }
      .plan-time {
        font-size: 24px;
        text-align: center;
        span {
          margin-left: 40px;
        }
      }
      .detail-time {
        display: flex;
        justify-content: center;
        h5 {
          margin-left: 8px;
          margin-top: 4px;
        }
        ul {
          li {
            .index {
              display: inline-block;
              width: 24px;
              text-align: right;
              margin-right: 8px;
            }
            button {
              margin-left: 8px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
.button {
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  color: white;
  a {
    color: white;
  }
}

.popup, .member-popup, .work-popup {
  display: none;
  .popup-background {
    /* 画面全体を暗くする透過背景 */
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .popup-content {
    /* ポップアップ本体 */
    display: inline-block;
    position: fixed;
    width: 300px;
    z-index: 1100;
    background: #fff;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    .popup-title {
      margin-top: 0;
      margin-bottom: 24px;
    }
    .popup-register {
      width: 240px;
      margin: auto;
      padding-right: 24px;
      margin-bottom: 8px;
      .popup-date {
        display: flex;
        justify-content: flex-end;

        select:nth-child(1) {
          width: 72px;
        }

        select {
          width: 50px;
          height: 28px;
          margin-left: 4px;
        }
      }

      .popup-time {
        display: flex;
        justify-content: flex-end;

        select {
          width: 50px;
          height: 28px;
          margin-left: 4px;
        }
      }
    }
    .popup-btn {
      display: flex;
      justify-content: space-evenly;
      height: 24px;

      .popup-submit {
        width: 100px;
        border-radius: 5px;
        margin: 0;
      }

      .popup-close {
        height: 24px;
        width: 64px;
        background-color: #CCCCCC;
        border-radius: 5px;
        padding-top: 2px;
      }
    }
  }
}



/* user_info */
.user-info {
  margin: auto;
  text-align: center;
  margin-top: 32px;
  h1 {
    font-size: 40px;
  }
  .user-picture {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }
}

/* stats */
.stats-content {
  width: 120px;
  margin: auto;
  padding-left: 12px;
  a {
    font-size: 16px;
  }
}

.today-work-no {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 8px;
}

.register-btn {
  margin-top: 24px;
  .button {
    width: 120px;
    height: 32px;
    padding-top: 2px;
  }
}


/// レスポンシブデザイン


@media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  .follow-title {
    padding-left: 50px;
  }
  .follow-users {
    .users {
      justify-content: center;
      li {
        margin-right: 24px;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 345px;
  }
  table {
    font-size: 12px;
  }
  .home {
    .works-detail {
      .details {
        width: 315px;
      }
    }
    h3 {
      font-size: 20px;
      span {
        font-weight: bold;
        margin-left: 12px;
      }
    }
    .worked-hard {
      height: 52px;
      span {
        display: block;
        margin-top: 12px;
        margin-left: 0;
      }
    }
    .plan-title {
      margin-top: 24px;
    }
  }

  .menu-box {
    height: 50px;
    width: 50px;
    float: right;
    div:nth-child(1) {
      background-color: #999999;
      height: 4px;
      width: 40px;
      margin: auto;
      margin-top: 10px;
      border-radius: 5px;
    }
    div:nth-child(2) {
      background-color: #999999;
      height: 4px;
      width: 40px;
      margin: auto;
      margin-top: 10.5px;
      border-radius: 5px;
    }
    div:nth-child(3) {
      background-color: #999999;
      height: 4px;
      width: 40px;
      margin: auto;
      margin-top: 11px;
      border-radius: 5px;
    }
  }

  .menu {
    display: none;
    padding-top: 48px;
    margin-top: 0;
  }

  .works-content {
    .works {
      .work-title {
        width: 180px;
        padding: 0;
        span {
          display: block;
          font-size: 8px;
        }
      }
      .date {
        font-size: 20px;
      }
      .work {
        width: 180px;
      }
      .work-achievement {
        width: 48px;
      }
    }
  }

  .follow-title {
    text-align: center;
    padding: 0;
  }
  .follow-users {
    .users {
      justify-content: center;
      margin-left: 24px;
    }
  }
}

.foot-print {
  margin-top: 24px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 4px;
}

.foot-print-cnt {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}


