.register-btn {
  display: flex;
  justify-content: center;
  * {
    margin-right: 16px;
    font-size: 20px;
  }
}

.month-display {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  ul {
    padding: 0;
    font-size: 24px;
    margin-top: 16px;
  }
  .middle {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    padding-top: 8px;
  }
}
