.users {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 240px;
    display: flex;
    height: 60px;
    a {
      height: 44px;
      margin-right: 8px;
      .user-picture {
        width: 40px;
        height: 40px;
      }
    }
    button {
      height: 24px;
      font-size: 12px;
    }
    .user-name {
      width: 120px;
    }
  }

}